@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.toggle-pill {
    position: relative;
    display: inline-block;
    width: 30px; /* Consider increasing this if the knob does not fit */
    height: 17px;
}

.toggle-pill input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .075s;
    border-radius: 17px;
}

.knob {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    transition: .075s;
    border-radius: 50%;
}
